/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  /* line 3, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.65);
    -ms-transform: scaleY(0.65);
    -webkit-transform: scaleY(0.65);
    transform: scaleY(0.65);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 11, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5) {
  /* line 19, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  /* line 27, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.33);
    -ms-transform: scaleY(0.33);
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
/* line 14, ../sass/scrollmenu.scss */
.cpt-dw-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 25, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 2000;
  overflow: hidden;
  height: 300px;
  bottom: 0;
}
/* line 36, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent {
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 42, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross {
  padding: 0;
}
/* line 45, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul {
  position: relative;
  width: 100%;
  display: table;
  padding: 0;
  margin: 0;
}
/* line 52, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li {
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 10px 10px;
}
/* line 58, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li i {
  margin-bottom: 0;
  font-size: 24px;
  margin: 0;
  float: left;
}
/* line 63, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li i.cpt-rightIcon {
  flex: 0 0 20px;
  color: #ccc;
  float: right;
  margin-top: 5px;
}
/* line 71, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li p {
  width: 80%;
  text-indent: 20px;
  margin: 0;
  padding: 2px 0;
  font-size: 16px;
  text-align: left;
  float: left;
  line-height: 1.5;
}
/* line 82, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li a {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}
/* line 86, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li a:active {
  background-color: transparent;
}
/* line 90, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li a i {
  margin-bottom: 0;
  font-size: 24px;
  margin: 0;
  float: left;
}
/* line 95, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li a i.cpt-rightIcon {
  flex: 0 0 20px;
  color: #ccc;
  float: right;
  margin-top: 5px;
}
/* line 103, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li a p {
  width: 80%;
  text-indent: 20px;
  padding: 2px 0;
  font-size: 16px;
  text-align: left;
  float: left;
  line-height: 1.5;
}
/* line 114, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent.cross ul li.border-1px {
  position: relative;
}
/* line 3, ../sass/border-1px/_mixin.scss */
.cpt-selectScrollMenu .menuContent.cross ul li.border-1px:after {
  display: block;
  width: 100%;
  position: absolute;
  background: rgba(17, 27, 37, 0.1) !important;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(17, 27, 37, 0.1) !important;
  content: '';
}
/* line 121, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul {
  position: relative;
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
}
/* line 128, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li {
  width: 25%;
  float: left;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding: 20px;
  cursor: pointer;
}
/* line 139, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li:active {
  background: #eee;
}
/* line 143, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li a {
  width: 100%;
  height: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  position: relative;
}
/* line 153, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li a:active {
  background-color: transparent;
}
/* line 157, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li a i {
  display: block;
  margin: 0 auto;
  color: #878787;
  margin-bottom: 10px;
  font-size: 32px;
  flex: 0 0 30px;
}
/* line 166, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li a p {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #999;
  font-size: 14px;
  flex: 1 1 auto;
  text-align: center;
  margin: 0;
}
/* line 180, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li i {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  color: #878787;
  margin-bottom: 10px;
  flex: 0 0 30px;
}
/* line 189, ../sass/scrollmenu.scss */
.cpt-selectScrollMenu .menuContent ul li p {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #999;
  font-size: 14px;
  flex: 1 1 auto;
  text-align: center;
}

/* line 241, ../sass/scrollmenu.scss */
body, html {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 247, ../sass/scrollmenu.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 262, ../sass/scrollmenu.scss */
.fadeInNoTransform {
  -webkit-animation-name: fadeInNoTransform;
  animation-name: fadeInNoTransform;
}

@-webkit-keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 275, ../sass/scrollmenu.scss */
.fadeOutNoTransform {
  -webkit-animation-name: fadeOutNoTransform;
  animation-name: fadeOutNoTransform;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
/* line 289, ../sass/scrollmenu.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
/* line 302, ../sass/scrollmenu.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    -ms-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
/* line 317, ../sass/scrollmenu.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
}
@keyframes fadeOutDown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    -ms-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
}
/* line 331, ../sass/scrollmenu.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -40px, 0);
    transform: translate3d(-50%, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -40px, 0);
    -ms-transform: translate3d(-50%, -40px, 0);
    transform: translate3d(-50%, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
/* line 346, ../sass/scrollmenu.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* line 350, ../sass/scrollmenu.scss */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/* line 360, ../sass/scrollmenu.scss */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* line 365, ../sass/scrollmenu.scss */
.txt-color-666 {
  color: #666 !important;
}

/* line 369, ../sass/scrollmenu.scss */
.txt-textOneRow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 375, ../sass/scrollmenu.scss */
.txt-textTwoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
